body {
  color: green;
  background-image: url(../images/dark-grey-terrazzo/dark-grey-terrazzo/dark-grey-terrazzo.png);
}
.calculator {
  /*section.calculator*/
  background: white;
}
.tab-content {
  height: auto;
  background: yellow;
  img {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
